
@{
    ViewData["Title"] = "SendAdminMessage";
}

<h1>SendAdminMessage</h1>
<form method="post">
    Admin Message : <input type="text" name="message"/>
    <button type="submit">Send To All Clients !!!</button>
</form>

